.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

/* Write your CSS here */
li {
  list-style: none;
}
.rating-img {
  height: 50%;
  width: 50%;
}
.buttons {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
